.git
node_modules
vendor
public/build
public/hot
bootstrap/cache/*.php
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
database/*.sqlite-*
.env
.env.*
!.env.example
.phpunit.cache
tests
.github
